@charset "UTF-8";
.adminIndex-topBar-badge {
   position:relative;
}
.adminIndex-topBar-badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-8px;
   right:-5px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.table-th-primary th{
	background-color: #dee6fa;
}

.table-th-info th{
	background-color: #e0f4f8;
}

.table-th-success th{
	background-color: #dafaef;
}

.table-th-warning th{
	background-color: #fef5de;
}

.table-detail th{
	width: 120px;
}