<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account.dao.AccountDAO">
	<resultMap type="accountVO" id="accountMap">
		<result column="acc_no" property="accNo"/>
		<result column="acc_name" property="accName"/>
		<result column="open_date" property="openDate"/>
		<result column="charge_acc_no" property="chargeAccNo"/>
	</resultMap>
	<sql id="selectAllAccountColumn">
		select acc_no, pwd, type, currency, acc_name, alias, open_date, balance, id
		 from hs_t_account
	</sql>
	<select id="selectAccountList" parameterType="String" resultMap="accountMap">
		<include refid="selectAllAccountColumn" />
		where id = #{id}
	</select>
	<select id="selectAccountBalance" parameterType="String" resultType="Float">
		select balance
		 from hs_t_account
		 where acc_no = #{ accNo }
	</select>
</mapper>