<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exchange.dao.ExchangeDAO">
	<select id="selectAllExchangeRate" resultType="exchangeVO">
		select * 
		from hs_t_currency_rate 
		where currency != 'dum'
	</select>
</mapper>