<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.dao.MemberDAO">
	<resultMap type="memberVO" id="memberMap">
		<result column="eng_name" property="engName"/>
		<result column="addr_detail" property="addrDetail"/>
	</resultMap>
	<sql id="selectAllMemberColumn">
		select id, password, type, name, eng_name, phone, email, addr, addr_detail
		 from hs_t_member
	</sql>
	<select id="login" parameterType="memberVO" resultMap="memberMap">
		<include refid="selectAllMemberColumn" />
		where id = #{id} and password = #{password}
	</select>
	<select id="selectInformationById" parameterType="String" resultMap="memberMap">
		<include refid="selectAllMemberColumn" /> 
		where id = #{id}
	</select>
	<update id="updateMyInfo" parameterType="memberVO">
		update hs_t_member  
		set (eng_name, phone, email, addr, addr_detail) = (select #{engName}, #{phone}, #{email}, #{addr}, #{addrDetail} from dual)  
		where id=#{id}
	</update>
	<select id="selectIdInfoOfAcc" parameterType="String" resultMap="memberMap">
		select mem.* 
		from hs_t_account acc, hs_t_member mem 
		where acc.id = mem.id and acc.acc_no=#{accNo}
	</select>
</mapper>