<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="remittance.dao.RecievedDAO">
	<resultMap type="recievedVO" id="recievedMap">
		<result column="RECIEVED_NO" property="recievedNo"/>
		<result column="FROM_NAME" property="fromName"/>
		<result column="FROM_PHONE" property="fromPhone"/>
		<result column="FROM_EMAIL" property="fromEmail"/>
		<result column="FROM_NATION" property="fromNation"/>
		<result column="FROM_ADDR" property="fromAddr"/>
		<result column="FROM_ADDR_DETAIL" property="fromAddrDetail"/>
		<result column="FROM_BANK_CODE" property="fromBankCode"/>
		<result column="FROM_ACC_NO" property="fromAccNo"/>
		<result column="GET_ACC_NO" property="getAccNo"/>
		<result column="GET_NAME" property="getName"/>
		<result column="GET_PHONE" property="getPhone"/>
		<result column="GET_EMAIL" property="getEmail"/>
		<result column="GET_NATION" property="getNation"/>
		<result column="GET_ADDR" property="getAddr"/>
		<result column="GET_ADDR_DETAIL" property="getAddrDetail"/>
		<result column="STATUS_DESC" property="statusDesc"/>
		<result column="RECIEVED_DATE" property="recievedDate"/>
		<result column="RECIEVED_DATE_WITHOUT_TIME" property="recievedDateWithoutTime"/>
	</resultMap>
	<select id="selectRecieved" parameterType="string" resultMap="recievedMap">
		select to_char(rec.recieved_date, 'yyyy-mm-dd') as recieved_date_without_time, rec.* from hs_t_recieved rec, hs_t_account acc 
		 where rec.get_acc_no = acc.acc_no 
		 	   and acc.id=#{id} 
		 order by rec.recieved_date desc
	</select>
	<select id="selectRecievedDetail" parameterType="Integer" resultMap="recievedMap">
		select * from hs_t_recieved 
		where recieved_no=#{recievedNo}
	</select>
	<select id="selectReicevedOnlyApproved" parameterType="string" resultMap="recievedMap">
		select to_char(rec.recieved_date, 'yyyy-mm-dd') as recieved_date_without_time, rec.* from hs_t_recieved rec, hs_t_account acc 
		 where rec.get_acc_no = acc.acc_no 
		 	   and acc.id=#{id} 
		 	   and rec.status != '요청됨'
		 order by rec.recieved_date desc
	</select>

	
	<select id="selectAllRecievedAdmin" resultMap="recievedMap">
		select to_char(rec.recieved_date, 'yyyy-mm-dd') as recieved_date_without_time, rec.* from hs_t_recieved rec
	</select>
	<select id="selectRecievedCount" resultType="map">
		select count(*) countAll, count(case when status='승인' OR STATUS='비승인' then 1 end) countDone, 
			   round((count(case when status='승인' OR STATUS='비승인' then 1 end))/count(*)*100) percentage
		from hs_t_recieved
	</select>
	<update id="updateStatusRecieved" parameterType="recievedVO">
		update hs_t_recieved set status=#{status}, status_desc=#{statusDesc, jdbcType=VARCHAR} where recieved_no=#{recievedNo}	
	</update>
</mapper>