<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="remittance.dao.RemInfoDAO">
	<resultMap type="remInfoVO" id="remInfoMap">
		<result column="info_no" property="infoNo"/>
		<result column="addr_detail" property="addrDetail"/>
		<result column="bank_name" property="bankName"/>
		<result column="bank_code" property="bankCode"/>
		<result column="acc_no" property="accNo"/>
		<result column="bank_nation" property="bankNation"/>
		<result column="bank_addr" property="bankAddr"/>
		<result column="bank_addr_detail" property="bankAddrDetail"/>
		<result column="my_desc" property="myDesc"/>
		<result column="status_desc" property="statusDesc"/>
	</resultMap>
	<select id="selectRemInfoList" parameterType="String" resultMap="remInfoMap">
		select * from hs_t_rem_info where id=#{id}
	</select>
	<select id="selectRemInfoDetail" parameterType="Integer" resultMap="remInfoMap">
		select * from hs_t_rem_info where info_no=#{remInfoNo}
	</select>
	<insert id="insertRemInfo" parameterType="remInfoVO">
		insert into hs_t_rem_info
		values(seq_rem_info_no.nextval, #{name}, #{phone}, #{email}, #{nation}, #{addr}, #{addrDetail}, 
			   #{currency}, #{bankName}, #{bankCode}, #{accNo}, #{bankNation}, #{bankAddr}, #{bankAddrDetail}, 
			   #{myDesc}, #{status}, #{statusDesc, jdbcType=VARCHAR}, #{id})
	</insert>
</mapper>