<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="remittance.dao.RemInfoDAO">
	<resultMap type="remInfoVO" id="remInfoMap">
		<result column="info_no" property="infoNo"/>
		<result column="addr_detail" property="addrDetail"/>
		<result column="bank_name" property="bankName"/>
		<result column="bank_code" property="bankCode"/>
		<result column="acc_no" property="accNo"/>
		<result column="bank_nation" property="bankNation"/>
		<result column="bank_addr" property="bankAddr"/>
		<result column="bank_addr_detail" property="bankAddrDetail"/>
		<result column="my_desc" property="myDesc"/>
		<result column="status_desc" property="statusDesc"/>
	</resultMap>
	<sql id="selectAllRemInfoColumn">
		select info_no, name, phone, email, nation, addr, addr_detail, 
			   currency, bank_name, bank_code, acc_no, bank_nation, 
			   bank_addr, bank_addr_detail, my_desc, status, status_desc, id 
		 from hs_t_rem_info
	</sql>
	<select id="selectRemInfoList" parameterType="String" resultMap="remInfoMap">
		<include refid="selectAllRemInfoColumn" />
			where id=#{id}
	</select>
	<select id="selectRemInfoDetail" parameterType="Integer" resultMap="remInfoMap">
		<include refid="selectAllRemInfoColumn" />
			where info_no=#{remInfoNo}
	</select>
	<insert id="insertRemInfo" parameterType="remInfoVO">
		insert into hs_t_rem _info
		values(seq_rem_info_no.nextval, #{name}, #{phone}, #{email}, #{nation}, #{addr}, #{addrDetail}, 
			   #{currency}, #{bankName}, #{bankCode}, #{accNo}, #{bankNation}, #{bankAddr}, #{bankAddrDetail}, 
			   #{myDesc}, #{status}, #{statusDesc, jdbcType=VARCHAR}, #{id})
	</insert>
	




	<select id="selectAllRemInfoList" resultMap="remInfoMap">
		<include refid="selectAllRemInfoColumn" />
	</select>
	<select id="selectRemInfoCount" resultType="hashmap">
		select count(*) countAll, count(case when status='신청중' then 1 end) countWaiting 
		from hs_t_rem_info
	</select>
	<update id="updateStatusRemInfo" parameterType="remInfoVO">
		update hs_t_rem_info set status=#{status} where info_no=#{infoNo}
	</update>
</mapper>