<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd 
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-4.0.xsd 
    http://www.springframework.org/schema/websocket
    http://www.springframework.org/schema/websocket/spring-websocket-4.0.xsd 
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-4.3.xsd ">

	<context:component-scan base-package="kr.ac.kopo" />
	<context:property-placeholder location="classpath:config/properties/key.properties" /> 
	
    <mvc:annotation-driven>
    	<mvc:message-converters>
    		<bean class="org.springframework.http.converter.StringHttpMessageConverter">
    			<property name="supportedMediaTypes">
    				<list>
    					<value>text/html; charset=UTF-8</value>
    				</list>
    			</property>
    		</bean>
    		<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
    			<property name="supportedMediaTypes">
    				<list>
    					<value>text/html; charset=UTF-8</value>
    					<value>application/json; charset=utf-8</value>
    				</list>
    			</property>
    		</bean>
    	</mvc:message-converters>
    </mvc:annotation-driven> 
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    	<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
    	<property name="url" value="${docker.oracle.url}" />
    	<property name="username" value="${db.oracle.username}" />
    	<property name="password" value="${db.oracle.password}" />
    </bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="dataSource" />
    	<property name="configLocation" value="classpath:config/mybatis/sqlMapConfig.xml" />
    	<property name="mapperLocations" value="classpath:config/sqlmap/oracle/*.xml" />
    </bean>
    
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
    	<constructor-arg ref="sqlSessionFactory" />
    </bean>
    
	<mvc:default-servlet-handler />
	
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" />
	</mvc:view-resolvers>
	
	<!-- 인터셉터 처리  -->
	<bean class="kr.ac.kopo.interceptor.LoginInterceptor" id="loginInterceptor"></bean>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/"/>
			<mvc:exclude-mapping path="/login"/>
			<mvc:exclude-mapping path="/resources/**"/>
			<mvc:exclude-mapping path="/remInfo/ask/**"/>
			<mvc:exclude-mapping path="/remInfo/ask"/>
			<mvc:exclude-mapping path="/"/>
			<mvc:exclude-mapping path="/echo"/>
			<mvc:exclude-mapping path="/change"/>
			<ref bean="loginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors> 
	
	<!-- Gmail -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="${email.id.gmail}" />
		<property name="password" value="${email.password.gmail}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>
	
	<!-- 이메일 format thymeleaf 설정 -->
	<bean id="templateResolver"
		  class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
		<property name="prefix" value="classpath:/templates/" />
		<property name="suffix" value=".html" />
		<property name="templateMode" value="HTML5" />
		<property name="characterEncoding" value="UTF-8" />
		<property name="cacheable" value="false" />
	</bean>
	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
		<property name="enableSpringELCompiler" value="true"></property>
	</bean>
	<bean id="viewResolver" class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="characterEncoding" value="UTF-8" />
		<property name="templateEngine" ref="templateEngine" />
	</bean>
	
	
	<!-- 언어 message file 설정  -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:/locale/messages" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="fallbackToSystemLocale" value="false" />
	</bean>
	
	<!-- LocaleResolver 설정  -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="ko"></property>
	</bean>
	
	<!-- change interceptor -->
	   <mvc:interceptors>
	    <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	       <property name="paramName" value="locale" />
	    </bean>
	    </mvc:interceptors>
	    
	<!-- 트랜잭션 처리  -->
	<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager" >
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- websocket handler 웹소켓 -->
	<bean id="echoHandler" class="kr.ac.kopo.socketHandler.EchoHandler" />
	
	<websocket:handlers>
		<websocket:mapping handler="echoHandler" path="/echo" />
		<!-- handshake -> handler에 접근하기 전에 httpSession에 접근하여 저장된 값을 읽어 들여 사용할 수 있도록 처리  -->
			<websocket:handshake-interceptors>
	        	<bean class="org.springframework.web.socket.server.support.HttpSessionHandshakeInterceptor"/>
	    	</websocket:handshake-interceptors>
 
	 </websocket:handlers>
	 
	 
	 <!--  task scheduler 예약 -->
	<task:scheduler id="jobScheduler" pool-size="10"/>
	<task:annotation-driven scheduler="jobScheduler"/>
	
</beans>